* {
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  body {
    background-color: #323232
  }

  .card {
    background-color: #ffffff;
  }

  .bg-light {
  background-color: #f8f9fa !important;
}

.text-muted {
  font-size: 0.9rem;
}  

  .text-truncate-custom {
    width: 200px; /* Defina a largura desejada */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}