* {
    margin: 0;
    padding: 0;
    color: white;
  }
  
  body {
    background-color: #323232
  }

  .text-truncate-custom {
    width: 200px; /* Defina a largura desejada */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}