* {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  body {
    background-color: #323232
  }

  .card {
    background-color: #ffffff;
  }

  .bg-light {
  background-color: #f8f9fa !important;
}

.text-muted {
  font-size: 0.9rem;
}  

  .text-truncate-custom {
    width: 200px; /* Defina a largura desejada */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-gradient-dark {
  background: linear-gradient(to right, #1b1f23, #2b3036);
}

.navbar-brand span {
  font-size: 1.3rem;
}

.navbar .nav-link {
  transition: all 0.2s ease-in-out;
}

.navbar .nav-link:hover {
  color: #00bcd4 !important;
  transform: translateY(-1px);
}

.dropdown-menu-dark {
  background-color: #2a2f34;
  border-color: #17a2b8;
}

body {
  background-color: #121212;
  color: #fff;
}

.nav-link.active, .nav-link:hover {
  background-color: #17a2b8 !important;
  color: #fff !important;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.img-thumbnail {
  background-color: #1e1e1e;
}

.shadow {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

h2, h3 {
  font-weight: 600;
}

.row-cols-8 > * {
  flex: 0 0 auto;
  width: 12.5%;
}
