doctype html
html(lang="pt-br")
    head
        include includes/js.pug
        include includes/head.pug
        
        title !{bot.user.username} || Dashboard
    body 
        include includes/navbar.pug

        