doctype html
html(lang="pt-br")
    head
        include includes/js.pug
        include includes/head.pug
        
        title !{bot.user.username} || Inicio
    body 
        include includes/navbar.pug

        .container-md.mt-5.w-50.mx-auto.p-3
            .row.text-center
                .col-md-4
                    img.img-md(src= avatar height="180")
                .col-md-8
                    p.text-start
                        | Ola eu me chamo !{bot.user.username}, sou mais uma bot para o discord para ajudar no gerenciamento e diversao do seu servidor, me adicione para que possamos mergulhar nessa diversao que vai ser seu servidor!
                    .row.gx-4 
                        .col
                            a.btn.btn-outline-danger.p-2(role="button" href="https://discord.com/oauth2/authorize?client_id=1198236092516802701&permissions=8&scope=bot%20applications.commands") Me adicione
                        .col
                            a.btn.btn-outline-primary.p-2(role="button" href="/dashboard") Painel de controle
